<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/product.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <!-- navbar -->
    <nav id="navbar">
        <div class="container navbar-flex">
            <img src="../media/logo.png" alt="logo" class="logo">
            <ul class="navbar-list">
                <li type="none"><a href="../index.html"><i class="fas fa-home"></i>home</a></li>
                <li type="none" class="navbar-list-item"><a href="#"><i class="fa-solid fa-bowl-food"></i>product<i
                            class="fa-solid fa-caret-up shape"></i>
                        <ul class="navbar-list-child">
                            <li type="none"><i class="fa-solid fa-ice-cream"></i><a href="../template/ice-cream.html">ice-cream</a></li>
                            <li type="none"><i class="fa-solid fa-cookie"></i><a href="../template/choco.html" class="active">chocolate</a></li>
                            <li type="none"><i class="fa-solid fa-bottle-water"></i><a href="../template/drink.html">drink</a></li>
                        </ul>
                    </a></li>
                <li type="none"><a href="../template/backet.html"></i>backet</a></li>
                <li type="none"><a href="../template/about.html"><i class="fa-regular fa-address-card"></i>about</a></li>
            </ul>
        </div>
    </nav>


    <!-- ice-cream-product -->
    <div class="product">
       
       
          <!-- <div class="product-item">
            <img src="../media/chocolate/01.png" alt="" class="product-img">
            <div class="product-data">
                <p class="product-name">name:Zolotoy</p>
                <p class="product-price">price:15000</p>
                <div class="product-control">
                    <button class="minus">-</button>
                    <input type="text" class="count" value="0">
                    <button class="plus">+</button>
                </div>
            </div>
        </div> 
    </div> -->
  
</div>
    <!-- -->



    <!-- footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-left">
                <img src="../media/logo.png" alt="Tropicana Logo" class="footer-logo">
                <p>Bizning do'kon: Muzqaymoq, Shokoland va ichimliklar</p>
            </div>
            <div class="footer-center">
                <ul>
                    <li><i class="fas fa-home"></i> Bosh sahifa</li>
                    <li><i class="fas fa-bars"></i> Menyu</li>
                    <li><i class="fas fa-info-circle"></i> Biz haqimizda</li>
                    <li><i class="fas fa-phone-alt"></i> Aloqa</li>
                </ul>
                <p>© 2024 Muzqaymoq & Shokoland. Barcha huquqlar himoyalangan.</p>
            </div>
            <div class="footer-right">
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i> Facebook</a>
                    <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                    <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
                </div>
            </div>
        </div>
    </footer>


    <script src="../js/choco.js"></script>
    <script src="../js/count.js"></script>
</body>

</html>